
h1 {
    font-family   : "Tahoma";
    font-size     : 40px;
    text-align    : center;
}

h2,h3 {
    color         : blueviolet;
    font-size     : 25px;

}

p {
    line-height   : 25px;

}

body {
    color      :  blue;
    font-family: "Tahoma";
    font-size  : 30px;
}

  



